<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Admin Configuration</title>
    <link rel="stylesheet" href="../../style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script defer src="../../controller/config/admin-network-config.js"></script>
</head>

<body>
    <div class="container">
        <div class="sidebar">
            <ul>
                <li class="clickable">MAC address</li>
                <li class="selected">Network</li>
            </ul>
        </div>

        <div class="config-container">
            <h2>Network Configuration</h2>

            <div class="input-list">
                <div class="input-item">
                    <label class="input-label" for="input1">Default IP address</label>
                    <input type="text" id="input1" class="input-field" placeholder="example:192.168.1.5">
                </div>

                <div class="input-item">
                    <label class="input-label" for="input2">Default Netmask</label>
                    <input type="text" id="input2" class="input-field" placeholder="example:255.255.255.0">
                </div>

                <div class="input-item">
                    <label class="input-label" for="input3">Default Gateway</label>
                    <input type="text" id="input3" class="input-field" placeholder="example:192.168.1.1">
                </div>
            </div>
        </div>
     
            <div class="button-container">
                <button class="button left-button" id="save-button">Save & Exit</button>
                <button class="button right-button" id="previous-button">Previous</button>
            </div>
        </div>
    </div>
</body>

</html>