        <!DOCTYPE html>
        <html>

        <head>
            <meta charset="UTF-8" />
            <title>Gateway Manager</title>
            <link rel="stylesheet" href="../../styles/main.css" />
            <script defer type="module" src="../../controller/main/main.js"></script>
        </head>

        <body>
            <div class="main-container">
                <div class="search-container">
                    <div class="table-header">
                        <div class="column" id="column-1">ID</div>
                        <div class="column" id="column-2">Name</div>
                        <div class="column" id="column-3">Status</div>
                    </div>
                    <div class="table-rows" id="device-container">
                        
                    </div>
                </div>
                <div class="menu-container">
                    <button id="refresh-button" class="button menu">Refresh</button>
                    <button id="configure-button" class="button menu" disabled>Configure</button>
                    <button id="diagnose-button" class="button menu" disabled>Diagnose</button>
                    <button id="help-button" class="button menu">Help</button>
                    <button id="settings-button" class="button menu">Settings</button>
                    <button id="exit-button" class="button menu">Exit</button>
                </div>
            </div>
        </body>

        </html>