<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Search</title>
    <link rel="stylesheet" />
    <link rel="stylesheet" href="../../style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script defer src="../../controller/main/search.js"></script>
</head>

<body>
    <div class="search-container">
        <h4>Searching...</h4>
        <div class="progress-container" id="progress-container">
            <div class="progress-bar" id="progress-bar"></div>
        </div>

        <div class="button-container">
            <a href="#">
                <button class="button save-button" id="cancel-button">Cancel</button>
            </a>
        </div>
    </div>
</body>

</html>