<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Settings</title>
    <link rel="stylesheet" />
    <link rel="stylesheet" href="../../styles/main.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script defer type="module" src="../../controller/main/settings.js"></script>
</head>


<body>
    <div class="settings-window">
        <h2>Settings</h2>
        <div class="input-item" id="username-container">
            <label for="username" class="input-label settings">Username:</label>
            <input type="text" id="username" class="input-field" placeholder="Enter username">
        </div>
        <div class="input-item" id="old-password-container">
            <label for="old-password" class="input-label settings">Old Password:</label>
            <input type="password" id="old-password" class="input-field" placeholder="Enter old password">
        </div>

        <div class="input-item" id="new-container">
            <label for="new-password" class="input-label settings">New Password:</label>
            <input type="password" id="new-password" class="input-field" placeholder="Enter new password">
        </div>

        <div class="input-item" id="confirm-container">
            <label for="confirm-password" class="input-label settings">Confirm Password:</label>
            <input type="password" id="confirm-password" class="input-field" placeholder="Confirm new password">
        </div>

        <div class="input-item" >
            <label for="language-select" class="input-label settings">Change Language:</label>
           <select name="" id="language-select" class="select-field">
                <option value="">English</option>
                <option value="">Francais</option>
           </select>
        </div>

        <div class="button-container settings">
            <button class="button left-button" id="save-button" type="submit">Save</button>
            <button class="button right-button" id="cancel-button">Cancel</button>
        </div>
    </div> 
</body>

</html>